{:paths ["src"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.3"}
  tick/tick {:mvn/version "0.6.2"}
  scicloj/tablecloth {:mvn/version "7.021"} ; brings techml-dataset
  org.ta4j/ta4j-core     {:mvn/version "0.15"}   ; ta4j java technical indicator library
  net.cgrand/xforms      {:mvn/version "0.19.2"} ; transducers for timeseries (ema sma)
  ta/math {:local/root "../math" :deps/manifest :deps}}

 :aliases
 {:test
   {:extra-paths ["test"]
    :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
    :exec-fn cognitect.test-runner.api/test}

  #_:test-ind
  #_{:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :exec-fn cognitect.test-runner.api/test
   :exec-args {:nses [ta.indicator.ma-test
                      ta.indicator.momentum-test
                      ta.indicator.atr-test
                      ]}}
}}